@page "/OrigenProcedimiento"
@using System.Net.Http.Json
@inject HttpClient httpClient
@using SancionadosSAGB2025.Shared.Catalogos
@using SancionadosSAGB2025.Client.Shared.Partial.Cards;
@using SancionadosSAGB2025.Client.Shared.Forms;
@using SancionadosSAGB2025.Client.Shared.Partial.Dialog;
@using SancionadosSAGB2025.Client.Services
@inject IDialogService DialogService
@inject AuthService AuthService
@inject CatalagosServiceClient CatalagosService
<MainForm>
    <Main>
        @if (Elements.Count() > 0)
        {
            <CardForm>
                <Header>
                    <div class="d-flex justify-end mb-3">
                        <MudButton Color="Color.Info" Variant="Variant.Filled" OnClick="AgregarNivel">
                            Agregar Nuevo Origen Procedimiento
                        </MudButton>    
                    </div>

                </Header>
                <Content>
                    <MudDataGrid T="OrigenProcedimientoEntidad" Items="@Elements" MultiSelection="true" ReadOnly="@_readOnly" QuickFilter="@_quickFilter">
                        <ToolBarContent>
                            <MudText Color="Color.Primary" Typo="Typo.h6"><b>Catalogo de Origen Procedimiento</b></MudText>
                            <MudSpacer />
                            <MudTextField @bind-Value="_searchString" Placeholder="Buscar" Adornment="Adornment.Start" Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <Columns>
                            <PropertyColumn Property="x => x.Descripcion" />
                            <TemplateColumn>
                                <CellTemplate>
                                    <MudStack Row Justify="Justify.FlexEnd">
                                        <MudButton Variant="Variant.Filled"
                                                   StartIcon="@Icons.Material.Filled.Edit"
                                                   Color="Color.Info"
                                                   OnClick="(() => EditarNombreNivel(context.Item))">
                                            Editar Nombre
                                        </MudButton>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>

                        </Columns>

                        <PagerContent>
                            <MudDataGridPager T="OrigenProcedimientoEntidad" />
                        </PagerContent>
                    </MudDataGrid>
                </Content>
            </CardForm>

        }
        else
        {

            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />

            <MudText Typo="Typo.h6" Align="Align.Center">Cargando información...</MudText>
        }



    </Main>
</MainForm>



@code {
    private List<OrigenProcedimientoEntidad> Elements = new();
    private bool _readOnly;
    private bool _isCellEditMode;
    private List<string> _events = new();
    private bool _editTriggerRowClick;
    private string _searchString;
    private OrigenProcedimientoEntidad entidadFederativaEntidad = new();
    private string token = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            token = await AuthService.GetTokenAsync();
            var response = await httpClient.GetFromJsonAsync<List<OrigenProcedimientoEntidad>>($"api/Catalogos/ObtenerOrigenProcedimiento?token={token}");

            if (response is not null)
            {

                Elements = response!.OrderBy(x => x.Descripcion)!.ToList();

            }        
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
    private async Task AgregarNivel()
    {

        var parameters = new DialogParameters<ModalAgregarOEditar<OrigenProcedimientoEntidad>>
        {
            { z => z.Titulo, "Crear Nuevo Origen Procedimiento" },
            {z => z.MensajeSnackBar, "Origen Procedimiento Creado"},
            { z => z.BtnAceptar, "Aceptar" }
        };
        var dialog = await DialogService.ShowAsync<ModalAgregarOEditar<OrigenProcedimientoEntidad>>("Agregar Orden", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            var descripcion = result.Data?.ToString();

            if (!string.IsNullOrEmpty(descripcion))
            {
                Elements.Add(new OrigenProcedimientoEntidad { Descripcion = descripcion });
                Elements = Elements.OrderBy(e => e.Descripcion).ToList();
                StateHasChanged();
            }
        }

    }
    private async Task EditarNombreNivel(OrigenProcedimientoEntidad entidad)
    {
        var parameters = new DialogParameters<ModalAgregarOEditar<OrigenProcedimientoEntidad>>
        {
            { x => x.Entidad, entidad },
            { z => z.IsEdit, true },
            { z => z.Titulo, "Editar Origen Procedimiento" },
            {z => z.token, token},
            {z => z.MensajeSnackBar, "Origen Procedimiento Editado"},
            { z => z.BtnAceptar, "Guardar Cambios" }
        };
        var options = new DialogOptions { CloseOnEscapeKey = false, CloseButton = false, MaxWidth = MaxWidth.ExtraExtraLarge, BackdropClick = false, FullWidth = false };
        var dialog = await DialogService.ShowAsync<ModalAgregarOEditar<OrigenProcedimientoEntidad>>("Agregar Orden", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            var descripcion = result.Data?.ToString();

            if (!string.IsNullOrEmpty(descripcion))
            {
                // 👉 Editar en lugar de agregar
                entidad.Descripcion = descripcion;

                // Reordenamos la lista
                Elements = Elements.OrderBy(e => e.Descripcion).ToList();

                StateHasChanged();
            }
        }
    }

    // events
    void StartedEditingItem(OrigenProcedimientoEntidad item)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    void CanceledEditingItem(OrigenProcedimientoEntidad item)
    {
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    void CommittedItemChanges(OrigenProcedimientoEntidad item)
    {
        _events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }
    private Func<OrigenProcedimientoEntidad, bool> _quickFilter => x =>
       {
           if (string.IsNullOrWhiteSpace(_searchString))
               return true;

           if (x.Descripcion?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
               return true;

           return false;
       };
}