@page "/BuscarServidoresPublicosGravesFisica";
@using Microsoft.AspNetCore.Components.Forms
@using SancionadosSAGB2025.Client.Services
@using SancionadosSAGB2025.Shared.Sanciones
@using SancionadosSAGB2025.Client.Componentes.FaltasGravesPersonasFísicas.Componentes
@inject AuthService AuthService
@inject ISnackbar Snackbar;
@inject FaltasGravesPersonasFisicasService FaltasGravesPersonasFisicasService;


@if ((TiposEventos == TipoEvento.Principal))
{
    <SancionadosSAGB2025.Client.Shared.Forms.MainForm>
        <Main>
            <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm BorderActive="true">
                <Content>
                    <MudText Typo="Typo.h5" Style="color:var(--main-color-general);">
                        Busqueda Faltas de <b>Servidores Públicos Graves Física</b>
                    </MudText>
                </Content>
            </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
            <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
                <Content>
                    <MudGrid Justify="Justify.Center">
                        <MudItem xs="6">
                            @* <MudTextField @bind-Value="searchFaltasDeServidoresPublicosG.Expediente" Label="Expediente" Variant="Variant.Outlined" HelperText="Escribe el expediente para buscar"></MudTextField> *@
                        </MudItem>
                        <MudItem xs="3">
                            <br />
                            @* <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Color="Color.Info" Size="Size.Large" OnClick="BuscarFaltasServidoresPG" /> *@
                        </MudItem>
                        <MudItem xs="3">
                            <br />
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.KeyboardBackspace" Color="Color.Primary" Size="Size.Large" href="FaltasGravesPersonasFísicas">Regresar</MudButton>
                        </MudItem>
                        <MudItem xs="12">
                            @if (faltasDeServidoresPublicosGs.Count() > 0)
                            {
                                <MudDataGrid T="AddFaltasGravesPersonasFisicas" MultiSelection="true" Items="@Elements" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter"
                                             Hideable="true" RowClick="@RowClicked" RowContextMenuClick="RowRightClicked" SelectedItemsChanged="@SelectedItemsChanged" Class="faltas-grid"
                                             Striped="true" Bordered="false">

                                    <ToolBarContent>
                                        <MudItem xs="3">
                                            <MudButton Variant="Variant.Filled" Style="background:#107c41; color: white;" OnClick="GenerarExcel">
                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 30 30">
                                                    <path d="M 15 3 A 2 2 0 0 0 14.599609 3.0429688 L 14.597656 3.0410156 L 4.6289062 5.0351562 L 4.6269531 5.0371094 A 2 2 0 0 0 3 7 L 3 23 A 2 2 0 0 0 4.6289062 24.964844 L 14.597656 26.958984 A 2 2 0 0 0 15 27 A 2 2 0 0 0 17 25 L 17 5 A 2 2 0 0 0 15 3 z M 19 5 L 19 8 L 21 8 L 21 10 L 19 10 L 19 12 L 21 12 L 21 14 L 19 14 L 19 16 L 21 16 L 21 18 L 19 18 L 19 20 L 21 20 L 21 22 L 19 22 L 19 25 L 25 25 C 26.105 25 27 24.105 27 23 L 27 7 C 27 5.895 26.105 5 25 5 L 19 5 z M 23 8 L 24 8 C 24.552 8 25 8.448 25 9 C 25 9.552 24.552 10 24 10 L 23 10 L 23 8 z M 6.1855469 10 L 8.5878906 10 L 9.8320312 12.990234 C 9.9330313 13.234234 10.013797 13.516891 10.091797 13.837891 L 10.125 13.837891 C 10.17 13.644891 10.258531 13.351797 10.394531 12.966797 L 11.785156 10 L 13.972656 10 L 11.359375 14.955078 L 14.050781 19.998047 L 11.716797 19.998047 L 10.212891 16.740234 C 10.155891 16.625234 10.089203 16.393266 10.033203 16.072266 L 10.011719 16.072266 C 9.9777187 16.226266 9.9105937 16.458578 9.8085938 16.767578 L 8.2949219 20 L 5.9492188 20 L 8.7324219 14.994141 L 6.1855469 10 z M 23 12 L 24 12 C 24.552 12 25 12.448 25 13 C 25 13.552 24.552 14 24 14 L 23 14 L 23 12 z M 23 16 L 24 16 C 24.552 16 25 16.448 25 17 C 25 17.552 24.552 18 24 18 L 23 18 L 23 16 z M 23 20 L 24 20 C 24.552 20 25 20.448 25 21 C 25 21.552 24.552 22 24 22 L 23 22 L 23 20 z"></path>
                                                </svg> Generar Excel
                                            </MudButton>
                                        </MudItem>
                                        <MudSpacer />
                                        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                    </ToolBarContent>
                                    <Columns>
                                        <PropertyColumn Property="x => x.Fecha" Title="Fecha" Sortable="false" Filterable="false" Format="dd/MM/yyyy" />
                                        <PropertyColumn Property="x => x.Expediente" Title="Expediente" Sortable="false" Filterable="false" />

                                        <TemplateColumn Title="Nombres">
                                            <CellTemplate>
                                                <MudText>
                                                    @(context.Item.DatosGenerales?.Nombres ?? "Datos no registrados")
                                                </MudText>
                                            </CellTemplate>
                                        </TemplateColumn>

                                        <TemplateColumn Title="Primer Apellido">
                                            <CellTemplate>
                                                <MudText>
                                                    @(context.Item.DatosGenerales?.PrimerApellido ?? "Datos no registrados")
                                                </MudText>
                                            </CellTemplate>
                                        </TemplateColumn>

                                        <TemplateColumn Title="Segundo Apellido">
                                            <CellTemplate>
                                                <MudText>
                                                    @(context.Item.DatosGenerales?.SegundoApellido ?? "Datos no registrados")
                                                </MudText>
                                            </CellTemplate>
                                        </TemplateColumn>

                                        <TemplateColumn Title="Curp">
                                            <CellTemplate>
                                                <MudText>
                                                    @(context.Item.DatosGenerales?.Curp ?? "Datos no registrados")
                                                </MudText>
                                            </CellTemplate>
                                        </TemplateColumn>

                                        <TemplateColumn Title="RFC">
                                            <CellTemplate>
                                                <MudText>
                                                    @(context.Item.DatosGenerales?.Rfc ?? "Datos no registrados")
                                                </MudText>
                                            </CellTemplate>
                                        </TemplateColumn>

                                        <TemplateColumn Title="Nombre Ente">
                                            <CellTemplate>
                                                <MudText>
                                                    @(context.Item.EmpleoCargoComision?.NombreEnte ?? "Datos no registrados")
                                                </MudText>
                                            </CellTemplate>
                                        </TemplateColumn>

                                        <TemplateColumn Title="Acciones">
                                            <CellTemplate>
                                                <MudStack Row>
                                                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Visibility" Color="Color.Info" OnClick="(() => MostrarVisualizacionFalta(context.Item))">Ver</MudButton>
                                                    @if (context.Item.IdUsuarioFK == IdUsuario)
                                                    {
                                                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="(() => MostrarVistaActualizarFalta(context.Item))">Editar</MudButton>
                                                    }
                                                </MudStack>
                                            </CellTemplate>
                                        </TemplateColumn>

                                    </Columns>
                                    <PagerContent>
                                        <MudDataGridPager T="AddFaltasGravesPersonasFisicas" />
                                    </PagerContent>
                                </MudDataGrid>
                            }
                            else
                            {
                                @* <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" /> *@
                        
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />

                                <MudText Typo="Typo.h6" Align="Align.Center">Cargando información...</MudText>
                            }
                        </MudItem>
                    </MudGrid>
                </Content>
            </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
        </Main>
    </SancionadosSAGB2025.Client.Shared.Forms.MainForm>
}
@if (TiposEventos == TipoEvento.Ver)
{
    <VerFaltasGPF faltasDeServidoresPublicosFisicas="faltasDeServidoresPublicosGsSeleccionadas" />
}

@if (TiposEventos == TipoEvento.Actualizar)
{
    <EditarFaltasGPF faltasDeServidoresPublicosFisicas="faltasDeServidoresPublicosGsSeleccionadas" />
}

 <style>
    .faltas-grid thead th {
        color: white !important;
        font-weight: bold;
        text-transform: uppercase;
        background-color: var(--main-color-general); /* Color de fondo personalizado */
        background-size: 15px;
    }

        .faltas-grid thead th .mud-table-sort-label {
            color: white !important;
        }
 </style>
